/*--------------------------------- Heading*/
.navbar-nav{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;  
    margin-right: 0px;
    width: 100%;
    font-size: 40px;
    text-align: center;
}
.nav-item{
    justify-content: space-around;

}
/*---------------------------------- Home page*/
.photo-home {
    height: 570px;
    width: 100%;
    background: url("../images/doggo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
}
.title-home {
    padding-top: 60px;
    margin-left: 280px;
    font-family: 'Sriracha', cursive;
    font-size: 50px;
    color: rgb(22, 21, 21);
}
h3 {
    font-family: 'Sriracha', cursive;
    text-align: center;
    margin-right: 1600px;
    font-size: 40px;
    margin-top: 70px; 
}

#name{
    font-size: 55px;
    margin-left: 90px;
}
/*----------------------------------About Us page*/
.photo-aboutUs {
    height: 570px;
    width: 100%;
    background: url("../images/doggo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
}


.text-aboutUs {
    background-color:  rgb(22, 21, 21,0.5); 
    width: 45%;
    margin-right: 700px;
    margin-left: 30px;
    text-align: center;
    height: 350px;
    font-size: 30px;
    padding-left: 0;
    color: #fafafa;
    font-family: 'Sriracha', cursive;
}

.title-aboutUs {
    padding-top: 60px;
    margin-left: 420px;
    font-family: 'Sriracha', cursive;
    font-size: 50px;
    color: #fafafa;
}

ul {
    list-style: none;
    line-height: 25px;
}
ul li {
    margin: 30px;
    margin-left: 0;
}

/*-------------------------------------Contact Us*/
.photo-contactUs {
    height: 570px;
    width: 100%;
    background: url("../images/doggo3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
}
.title-contactUs {
    padding-top: 60px;
    margin-left: 120px;
    font-family: 'Sriracha', cursive;
    font-size: 50px;
    color: #fafafa;
    
}

.contact-form {
    opacity: 0.9;
    margin-top: 50px;
    
    width: 35%;
    height: 250px;
    margin-right: 700px;
    margin-left: 120px;
}
.contact-call {
    margin-left: 120px;
    float: left;
    font-size: 30px;
    color: #fafafa;
    margin-top: 0;

}
input {
    width: 100%;
}
#details-contact {
    width: 100%
}

/*----------------------------------- Footer*/

.social-links{
    text-align: center;
    font-size: 40px;
    
    
}
.social-links .col a i{
    color: #212529;
}
/*-------------------------------------------- Media Querys*/
@media only screen and (max-width: 1440px) {
    .title-home {
        font-size: 40px;
        margin-left: 100px;
        
    }
    h3{
        font-size: 30px;
        margin-right: 900px;
    }
    .navbar-nav {
        font-size: 23px;
    }
    .social-links {
        font-size: 23px;
    }
    .title-aboutUs {
    margin-left: 180px;
   
   }
   .text-aboutUs {
    font-size: 22px;
    }
    ul li {
    margin: 20px;

    }
}

 @media only screen and (max-width: 1024px) {
    .title-home {
        font-size: 35px;
        margin-left: 100px;
        
    }
    #name {
        font-size: 37px;
    }
    h3{
        font-size: 25px;
        margin-right: 600px;
        margin-left: 70px;
        margin-top: 100px;
    }
    .navbar-nav {
        font-size: 20px;
    }
    .social-links {
        font-size: 20px;
    }
    .photo-home {
    height: 500px;
    }
    .title-aboutUs {
    margin-left: 100px;
    font-size: 35px;
     }
    .text-aboutUs {
    font-size: 18px;
    }
    ul {
    line-height: 17px;
    }
 }
 @media only screen and (max-width: 800px) {
     .title-home {
         margin-left: 20px;
    }
     .navbar-nav {
        font-size: 17px;
    }
      
     h3 {
         margin-right: 500px;
    }
    .text-aboutUs {
    font-size: 16px;
    }
    
    .title-contactUs {
    margin-left: 80px;
    font-size: 40px;
    }
    .contact-call {
    margin-left: 80px;
    }
    .contact-form {
    margin-left: 80px;
    }
    #name-contactUs {
    font-size: 40px;
   }
}
@media only screen and (max-width: 700px) {
    .navbar-nav{ 
        font-size: 16px;
    }
    .title-home {
         font-size: 32px;
         margin-left: 10px;
         text-align: center;
         padding-top: 20px;
         
     }
     #name{
         margin-left: 0;
         font-size: 32px;
     }
     .photo-home {
         height: 650px;
         background-position: right;
         
     }
     h3{
         font-size: 25px;
         margin-left: 300px;
         margin-top: 280px;
         margin-right: 20px;
     }

    ul {
        padding: 0;
    }
    ul li {
        margin: 7px;
        line-height: 18px;
    }
    .text-aboutUs { 
        margin-left: 0px;
        font-size: 13px;
        height: 370px;
    }
    .title-aboutUs {
        padding-top: 50px;
        margin-left: 20px;
        font-size: 25px;
   }
    .photo-aboutUs {
        height: 550px;
    }
    .title-contactUs {
        margin-left: 40px;
        font-size: 30px;
    }
    .contact-call {
        margin-left: 40px;
        font-size: 25px;
    }
    .contact-form {
        margin-left: 30px;
        font-size: 9px;
        width: 50%;
    }
    #name-contactUs {
        font-size: 30px;
    }
    #details-contact {
        height: 80%;

    }
       
 @media only screen and (max-width: 375px){
    .photo-home {
         background-position: center;
         height: 500px;
     }
     h3 {
         margin-left: 10px;
         margin-top: 300px;
         font-size: 20px;

     }
    .text-aboutUs { 
    height: 390px;
    width: 50%;
    margin-left: 0px;
    font-size: 12px;
    }
    .photo-aboutUs {
    height: 550px;
    

 }