/*----------------------------------Font, Photos, Colours*/
.font {
    font-family: 'Sriracha', cursive;
}
.colour {
    color: #fafafa;
}
/*--------------------------------- Heading*/
.nav-item{
    font-size: 20px;
    margin: 0;
}
/*---------------------------------- Home page*/
.photo-home {
    background: url("../images/doggo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    height: 100vh;
}
.title-home {
    margin-top: 20px;
    color: rgb(22, 21, 21);
}
.purpose {
    margin-top: 60vh;
    text-align: center;
    font-size: 25px;
}
li{
  margin: 12px 0;
}

/*----------------------------------About Us page*/
.photo-aboutUs {
    background: url("../images/doggo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.90;
}
.text-aboutUs {
    background-color:  rgb(22, 21, 21,0.5); 
    width: 90%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin-right: 500px;
    font-size: 20px;
    margin-top: 30px;
}
.title-aboutUs {
    font-size: 25px;
    margin-top: 20px;
    margin-right: 75px;
}
#name{
    font-size: 32px;
    margin-left: 90px;
}
/*-------------------------------------Contact Us*/
.photo-contactUs {
    background: url("../images/doggo3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    height: 75vh;
}
.title-contactUs {
    padding-top: 20px;
    font-size: 32px;
}

.contact-form {
    opacity: 0.9;
    margin-top: 75px;
    width: 65%;
}
.contact-call {
    font-size: 30px;
    margin-top: 18px;
}
input {
    width: 100%;
    
}
#details-contact {
    width: 100%
}
.submit {
    background-color: rgb(45, 45, 109); 
}
/*----------------------------------- Footer*/

.social-links{
    text-align: center;
    font-size: 20px;
}
.social-links .col a i{
    color: #212529;
}

/*-------------------------------------------- Media Querys*/
@media (min-width: 576px) { 
    .purpose {
    margin-top: 66vh;
    }
    .contact-form {
    margin-top: 55px;
    width: 55%;
    }
}

@media (min-width: 768px) { 
    .purpose {
    margin-top: 35vh;
    text-align: left;
    }
    .text-aboutUs {
    width: 65%;
    }
}

@media (min-width: 992px) { 
    .title-home {
        font-size: 3rem;
    }
    .purpose {
    font-size: 35px;
    }
    .navbar-nav {
        width: 100%;
        justify-content: space-between;
    }
    .nav-item {
        font-size: 25px;
    }
    .social-links{
        font-size: 25px;
    }
    
}

@media (min-width: 1200px) { 
    .photo-home {
        height: 80vh;
    }
    .purpose {
    margin-top: 25vh;
    }
    .nav-item {
        font-size: 30px;
    }
    .social-links{
        font-size: 30px;
    }
    .title-aboutUs {
        font-size: 45px;
    }
    .text-aboutUs {
        font-size: 32px;
    }
    .title-contactUs {
        font-size: 45px;
    }
    .contact-call {
        font-size: 40px;
    }

}
